@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 3%, 87%);
  --color-dark-grayish-violet: hsl(279, 6%, 55%);
  --color-very-dark-violet: hsl(278, 68%, 11%);
  --color-red-error: hsl(0, 100%, 66%);
  --gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  width: 100%;
  max-width: 360px;
}

input {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(
      var(--color-light-grayish-violet),
      var(--color-light-grayish-violet)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.2s ease;
  padding-left: 1rem;
  color: var(--color-very-dark-violet);
}

.inputs_container > input {
  width: 100%;
}

input::placeholder {
  color: var(--color-dark-grayish-violet);
  opacity: 0.35;
  font-size: 1rem;
  font-weight: 600;
}

input:focus {
  outline: none;
  background-image: linear-gradient(white, white), var(--gradient);
}

.input_error {
  border: 1px solid var(--color-red-error);
}

.inputs_container label,
legend {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
}

.inputs_date_cvc_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.input_date_container {
  display: flex;
  gap: 0.5rem;
}

.input_date {
  width: 4.5rem;
}

.date_labels_container {
  display: flex;
}

.input_cvc_container > input {
  width: 100%;
}

.button_action {
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-very-dark-violet);
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  text-transform: capitalize;
  border: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-light-grayish-violet);
  margin-top: 1rem;
}

/***************/
/* CARDS */
/***************/

.cards_bg_container {
  height: 15rem;
  margin-bottom: 7rem;
  background-image: url("/images/bg-main-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards_main_container {
  position: relative;
  width: 375px;
}

.card_container {
  position: absolute;
}

.card_back {
  top: 2.8rem;
  left: 2rem;
}

.card {
  position: relative;
  font-display: flex;
  width: 18rem;
}

.img_card {
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.card > p {
  position: absolute;
  color: var(--color-white);
}

.card_text_big {
  font-size: 1.1rem;
  letter-spacing: 2px;
  opacity: 0.8;
  font-family: "Space Grotesk", sans-serif;
}

.card_text_small {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: transparent;
  opacity: 0.7;
}

.cvc_data {
  letter-spacing: 1.3px;
  margin-top: 25%;
  margin-left: 80%;
  letter-spacing: 1.5px;
  color: white;
}

.card_front {
  margin-top: 8.4rem;
  left: 1rem;
}

.card_logo {
  position: absolute;
  width: 20%;
  margin-top: 6%;
  margin-left: 6%;
}

.card_number {
  position: absolute;
  margin-top: 34%;
  left: 2rem;
}

.card_name {
  margin-top: 47%;
  margin-left: 8%;
}

.card_date {
  margin-top: 47%;
  margin-left: 85%;
}

.shadow {
  box-shadow: 0px 20px 200px 0px gray;
}

/***************/
/* ATRIBUTION */
/***************/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .card_back {
    margin-left: 2rem;
  }
}

@media (min-width: 1100px) {
  .main_container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .inputs_container {
    margin-left: 20rem;
  }

  .cards_bg_container {
    background-image: url("/images/bg-main-desktop.png");
    height: 100vh;
    width: 35vw;
    margin-bottom: 0;
  }
  .card {
    width: 25.5rem;
  }

  .cards_main_container {
    width: 100%;
    height: 100vh;
  }

  .card_front {
    top: 2rem;
    left: 15vw;
  }

  .card_back {
    top: 27rem;
    left: 19vw;
  }

  .card_text_big {
    font-size: 1.6rem;
    letter-spacing: 3px;
  }
}
